{% extends 'store/base.html' %}
{% load static %}
    
{% block title %}
    index
{% endblock title %}
    
{% block images %}
    
    <!-- {{message}} -->
    {% include 'store/list.html'  with list_title="MY IMAGE <i class='ion-android-image text-dark'></i> STORE HOME" title="index"%}
{% endblock images %}


{% block présentation %}
<section class="portfolio-block block-intro">
    <div class="container">
        <div class="avatar" style="background-image:url(&quot;{% static 'store/assets/img/avatars/avatar.jpg' %}&quot;);"></div>
        <div class="about-me">
            <p>Salut! Je suis <strong>Oumar Kane</strong>, étudiant en science de données. Je suis passionné de sciences. Ce site a été créé dans le cadre d'un projet de web scraping avec deux autres étudiants <strong>Abdoul Aziz Bâ</strong> et <strong>Mouhammad Diouf</strong> qui auront le privilège d'améliorer le site.</p>
            <!-- <a class="btn btn-outline-primary" role="button" href="#">Hire me</a> -->
        </div>
    </div>
</section>
{% endblock présentation %}
    
{% block javascript %}
<script>
    $(function(){
       $(".search_form_group_input").trigger("focus")
    });
</script>
{% endblock javascript %}