{% extends 'store/base.html' %}
<!-- {% block title %}
    R&eacute;sultat de la recherche
{% endblock title %} -->
{% block images %}

    <!-- {{message}} -->
    {% include 'store/list.html'  with list_title=title search="True"%}
{% endblock images %}


{% block javascript %}
<script>
    $(function(){
        console.log("ready !")
        $('.image_form_save').click(function (e) {
            e.preventDefault();
            var form = $(this).parent();
            //var serialiseData = form.serialize() 
            $.ajax({
                url: `{% url 'store:save'%}`,
                type: 'POST',
                data: {
                    title:form.find(`input[name="title"]`).val(),
                    categorie:form.find(`input[name="categorie"]`).val(),
                    src:form.find('input[name="src"]').val(),
                    url:form.find(`input[name="url"]`).val(),
                    csrfmiddlewaretoken: form.find("input[name=csrfmiddlewaretoken]").val()
                },
                success: (data)=>{
                    $(this).addClass("btn-success").removeClass("btn-primary").attr('disabled', 'True').text("Sauvegardée")
                },
                error: ()=>{
                    console.log('Erreur relevée')
                }
            }) 
        });
    });
</script>
{% endblock javascript %}
    